@media only screen and (min-width: 576px) {

}
@media only screen and ( min-width: 768px ){


}
@media only screen and ( min-width: 992px ) {

}
@media only screen and ( min-width: 1345px ) {
    .wrapper {
        max-width: 1315px;
        text-align: center;
    }
}



@media (min-width: 1200px) {

}
@media only screen and ( max-width: 1440px ) {
    .articleBlock {
        padding: 47px 0;
    }

}


@media only screen and ( max-width: 1199px ) {


}


@media only screen and ( max-width: 991px ) {



}

@media only screen and ( max-width: 920px ){



}


@media only screen and ( max-width: 767px ) {





}

@media only screen and ( max-width: 575px ) {


    .article-page .article-block {
        padding-left: 35px;
        padding-right: 35px;
        .article-box {
            max-width: 283px;
            margin-right: 0;
        }
    }

}

@media only screen and ( max-width: 540px ){
    .article-page .article-block {
        padding-left: 0;
        padding-right: 0;
    }
}



@media only screen and ( max-width: 360px ) {
    .join-block {
        padding: 107px 20px 50px;
    }
}








